<main>
  <router-outlet></router-outlet>
  <!--
    <form [formGroup]="form">
    <mat-form-field class="form-field">
      <input matInput formControlName="title" type="text" placeholder="Enter title"/>
    </mat-form-field>
    <mat-form-field class="form-field">
      <textarea matInput formControlName="description" placeholder="Enter description..."></textarea>
    </mat-form-field>
    <button [disabled]="form.invalid" mat-stroked-button (click)="onAddTask()">
      Submit
    </button>
  </form>
  -->
</main>