<app-navbar></app-navbar>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>LOGIN</b>
    </div>
    <div class="card-body p-4">

      <label style="float: left">Email</label>
      <input class="form-control m-2" type="email" placeholder="enter your email" [(ngModel)]="user.email">
      
      <label style="float: left">Password</label>
      <input class="form-control m-2" type="password" placeholder="enter your password" [(ngModel)]="user.password">

      <button class="btn btn-primary btn-block m-2" (click)="Submit()">Submit</button>
      <button class="btn btn-info btn-block m-2" (click)="SubmitWithGoogle()">Submit with Google</button>
      <label>Not have an account yet? <a href="#">Register now</a></label>
    
      <div>
        <!--Implementar getUserLogged y logout-->
        <button class="btn btn-info btn-block m2" (click)="getUserLogged()">User Logged</button>
        <button class="btn btn-info btn-block m2" (click)="logout()">Logout</button>
      </div>
    </div>
    <div class="card-footer text-muted">
      @Le4nnt0nn
    </div>
  </div>
</div>